<link rel="stylesheet" href="../../static/inicio/css/styles.css">
{% extends "inicio/encabezado.html" %}

{% block contenido %}
<div class="container">

    <h1>BIENVENIDO AL PORTAL</h1>
        
    <p>El objetivo principal de este portal es mostrar los datos de los alumnos registrados por el usuario administrador y el curso que tomaran </p>   

    <!-- Tabla de Alumnos -->
    <table class="table table-bordered tablestriped mt-4">   
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Curso</th>
                <th>Email</th>
                <th>Curso Intensivo</th>
                <th>Fecha de Inicio</th>
            </tr>
        </thead> 
        
        <tbody>
            {% for curso in cursos %}   
                <tr>
                    <td class="text-center">
                        <img src="{{curso.imagen.url}}" alt="" class="img-media">
                    </td>
                    <td class="text-semibold">{{curso.nombre}}</td>
                    <td class="muted">{{curso.curso}}</td>
                    <td class="muted">{{curso.email}}</td>
                    <td class="muted">{{curso.tiempo}}</td>
                    <td class="muted">{{curso.fecha}}</td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
    <!-- /Tabla de alumnos -->

</div>
{% endblock %}